# 环境变量
.env
.env.local

# python虚拟环境
.venv/

# 模版文件
template/

# 参考文件
reference/

# 文件等
outputs/
# data/

# LangGraph dev 本地运行状态
.langgraph_api/

# 缓存文件等
.playwright-mcp/
__pycache__/
.cursor
.pytest_cache

# 测试
tests/

# 规格稳定
spec/
